[data-showmore] {
}

[data-showmore-content] {
}

[data-showmore-button] {
	._showmore-active & {
		&::before {
			content: "\e901";
			font-size: rem(4) !important;
		}
	}

	span {
		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;

			&:last-child {
				display: block;
			}
		}
	}
}
